{% extends 'community/base.html' %}

{% block body %}
{% load staticfiles %}
<section class="skill-area section-gap" id="logo">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <img class="banner-logo" src="{% static 'community/images/Logo.png' %}">
        </div>
    </div>	
</section>
<!-- Start team Area -->
<section class="team-area section-gap" id="team" style="background-color: #FFF">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">About Team RAWS</h1>
                    <p>Creative, Passionate, Invincible</p>
                </div>
            </div>
        </div>						
        <div class="row justify-content-center d-flex align-items-top">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="{% static 'community/images/siddhi.png' %}" alt="">
                    <div class="align-items-center justify-content-center d-flex">
<!--
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
-->
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Siddhi Ayare</h4>
                    <p>User Interface Design, UX, Business Documentation</p>									    	
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="{% static 'community/images/andre.png' %}" alt="">
                    <div class="align-items-center justify-content-center d-flex">
<!--
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
-->
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Andre Pinto</h4>
                    <p>Extraction and preparation of data from multiple sources and formats</p>			    	
                </div>
            </div>	
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="{% static 'community/images/ryan.png' %}" alt="">
                    <div class="align-items-center justify-content-center d-flex">
<!--
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
-->
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Jiale Chen (Ryan)</h4>
                    <p>Back-end development and API development</p>			    	
                </div>
            </div>	
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="{% static 'community/images/wally.png' %}" alt="">
                    <div class="align-items-center justify-content-center d-flex">
<!--
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
-->
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Ze Wang (Wally)</h4>
                    <p>Front-end development and cloud service implementation</p>			    	
                </div>
            </div>																									

        </div>
    </div>	
</section>
<!-- End team Area -->
<section class="about-area" id="about">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center d-flex no-padding">
            <div class="col-md-12 about-left mt-70 justify-content-center">
                <div class="row justify-content-center">
                    <h2>About Our Project</h2>
                </div>
                <div class="row justify-content-center">
                    <h1>Culturally Diverse Health</h1>
                </div>
                <div class="row pb-50 justify-content-center">
                    <p class="w-50">
                        Victoria is a culturally diverse state, with almost a quarter of the population born overseas. Can we improve health outcomes for groups such as newly arrived migrants, refugees and asylum seekers? Our website aims to address and help to solve this problem.
                     </p>
                </div>
            </div>
        </div>
    </div>	
</section>
<section class="service-area pt-100 pb-100" id="source">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Data Source &amp; Copyright Info</h1>
                </div>
                <div>
                    <h3 class="pt-20 pb-20">Dataset</h3>
                    
                    <h5>VIC town and community profiles data</h5>
                    <a href="https://www.data.vic.gov.au/data/dataset/2011-town-and-community-profiles-data/resource/01feeb94-359a-455b-9a70-d3bca9f432ac" target="_blank" class="pb-10">https://www.data.vic.gov.au/data/dataset/2011-town-and-community-profiles-data/resource/01feeb94-359a-455b-9a70-d3bca9f432ac</a>
                    
                    <h5>Suburb postcodes of Victoria</h5>
                    <a href="https://www.vec.vic.gov.au/Files/LocalityFinder.xls" target="_blank" class="pb-10">https://www.vec.vic.gov.au/Files/LocalityFinder.xls</a>

                    <h5>Country codes</h5>
                    <a href="https://www.kaggle.com/juanumusic/countries-iso-codes/home" target="_blank" class="pb-10">https://www.kaggle.com/juanumusic/countries-iso-codes/home</a>
                    
                    <h5>Language spoken by suburbs</h5>
                    <a href="http://www.greaterdandenong.com/document/18464/statistical-data-for-victorian-communities" target="_blank" class="pb-10">http://www.greaterdandenong.com/document/18464/statistical-data-for-victorian-communities</a>               

                    <h5>School locations</h5>
                    <a href="https://www.data.vic.gov.au/data/dataset/school-locations-2018" target="_blank" class="pb-10">https://www.data.vic.gov.au/data/dataset/school-locations-2018</a>                    
                    
                    <h5>Hospital locations</h5>
                    <a href="https://www.data.vic.gov.au/data/dataset/hospital-locations-spatial" target="_blank" class="pb-10">https://www.data.vic.gov.au/data/dataset/hospital-locations-spatial</a>
                    
                    <h5>Suburb boundaries</h5>
                    <a href="https://data.gov.au/dataset/vic-suburb-locality-boundaries-psma-administrative-boundaries" target="_blank" class="pb-10">https://data.gov.au/dataset/vic-suburb-locality-boundaries-psma-administrative-boundaries</a> 
                    
                    <h3 class="pt-20 pb-20">Images</h3>
                    <h5>All images used in our website are retrieved from <a href="https://unsplash.com/">Unsplash</a></h5>
                    <h3 class="pt-20 pb-20">Cartoon Portraits</h3>
                    <h5>All portraits are created by <a href="https://avachara.com/portrait/">Avachara Portrait</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block bottom %}{% include 'community/footer.html' %}{% endblock %}