<!--https://codepen.io/adrianjacob/pen/KdVLXY-->
{% extends 'community/base.html' %}

{% block title %}Community Details{% endblock %}

{% block body %}

{% if result_list %}

    

{% load staticfiles %}
<section class="compare-area relative" data-parallax="scroll" data-image-src="{% static 'community/images/compare-bg.jpg' %}">
    <div class="overlay-bg overlay">
    </div>
    <div class="container">
        <div class="row pt-150 pb-150 d-flex align-items-center justify-content-end">
            <div class="banner-content col-lg-12 col-md-12 align-items-center">
                <div class="row justify-content-center">
                <h1>
                    <span>Compare Suburbs</span>							
                </h1>
                </div>
            </div>
        </div>
        
    </div>

</section>




<div class="container">
<article class="compare-table pt-50 pb-50">
<div id="compare-num" data-number="{{ result_list|length }}" style="display: none"></div>
<ul>
    {% for community in result_list %}
  <li class="bg-blue">
    <button>{{ community.0.name }}</button>
  </li>
    {% endfor %}
</ul>  
    {% if filters %}<h4 class="pb-20"><i>Selected filters have been highlighted</i></h4>{% endif %}
<table>
  <thead>
    <tr>
      <th class="hide"></th>
    {% for community in result_list %}
        <th class="bg-blue pt-20 pb-20 stat">
            <span class="txt-l">{{ community.0.name }}</span><br>
            <a class="btn primary-btn2 header-btn1" href="{% url 'community:result' %}?name={{ community.0.name }}&postcode={{ community.3 }}&country={{ community.4 }}&language={{ community.2.0 }}">See Detail</a>
        </th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>    
    {% for community in result_list %}
        {% if forloop.counter == 1 %}
        <td class="txt-black">Postcode</td>
        {% endif %}
        <td class="stat"><span class="txt-l">{{ community.3 }}</span></td>
    {% endfor %}
    </tr>
    <tr>    
    {% for community in result_list %}
        {% if forloop.counter == 1 %}
        <td class="txt-black">People Speaking {{ community.2.0 }}</td>
        {% endif %}
        <td class="stat"><span class="txt-l">{{ community.2.1 }}%</span></td>
    {% endfor %}
    </tr>
    <tr>
      <td class="txt-black">People Born Overseas</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.born_overseas }}%</span></td>
    {% endfor %}
    </tr>
     <tr>
      <td class="txt-black">People Speak Language Other Than English</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.except_eng }}%</span></td>
    {% endfor %}
    </tr>
<!--Top 4 Cutural Group-->
    <tr>
      <td colspan="13" class="sep">Top 4 Cultural Groups</td>
    </tr>
    <tr>
      <td class="txt-black">1st Cultural Group</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.culture_group1_name }}</span><br><span class="badge badge-secondary">{{ community.0.culture_group1_per }}%</span></td>
    {% endfor %} 
    </tr>
    <tr>
      <td class="txt-black">2nd Cultural Group</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.culture_group2_name }}</span><br><span class="badge badge-secondary">{{ community.0.culture_group2_per }}%</span></td>
    {% endfor %} 
    </tr>
    <tr>
      <td class="txt-black">3rd Cultural Group</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.culture_group3_name }}</span><br><span class="badge badge-secondary">{{ community.0.culture_group3_per }}%</span></td>
    {% endfor %} 
    </tr>
    <tr>
      <td class="txt-black">4th Cultural Group</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.culture_group4_name }}</span><br><span class="badge badge-secondary">{{ community.0.culture_group4_per }}%</span></td>
    {% endfor %} 
    </tr>
    <tr>
        <td colspan="13"><canvas id="basics" width="300" height="150"></canvas></td>
    </tr>
<!--Education Services-->
    <tr>
      <td colspan="13" class="sep">Education Services (counts)</td>
    </tr>
    <tr {% if 'kindergarten' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Kindergarten</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.kindergarten }}</span></td>
    {% endfor %}
    </tr>
    <tr {% if 'primary_school' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Primary School</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.primary_school }}</span></td>
    {% endfor %}
    </tr>
    <tr {% if 'secondary_school' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Secondary School</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.secondary_school }}</span></td>
    {% endfor %}
    </tr>
    <tr {% if 'p12_school' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">P-12 School</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.p12_school }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td colspan="13"><canvas id="school" width="300" height="150"></canvas></td>
    </tr>
<!--Health Services-->
    <tr>
      <td colspan="13" class="sep">Health Services (counts)</td>
    </tr>
    <tr {% if 'mental_health' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Mental Health</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.mental_health }}</span></td>
    {% endfor %}
    </tr>
    <tr {% if 'dental' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Dental Site</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.dental }}</span></td>
    {% endfor %}
    </tr>
    <tr {% if 'general_practice' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">General Practice</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.general_practice }}</span></td>
    {% endfor %}
    </tr>
    <tr {% if 'pharmacy' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Pharmacy</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.pharmacy }}</span></td>
    {% endfor %}
    </tr>
    <tr {% if 'allied_health' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Allied Health Services</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.allied_health }}</span></td>
    {% endfor %}
    </tr>
    <tr {% if 'complementary_health' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Complementary Health Services</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.complementary_health }}</span></td>
    {% endfor %}
    </tr>
     <tr {% if 'disability' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Disability Services</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.disability }}</span></td>
    {% endfor %}
    </tr>
     <tr {% if 'residential_aged_care' in filters %}class="highlight"{% endif %}>
      <td class="txt-black">Residential Aged Care Services</td>
    {% for community in result_list %}
        <td class="stat"><span class="txt-l">{{ community.0.residential_aged_care }}</span></td>
    {% endfor %}
    </tr>
    <tr>
        <td colspan="13"><canvas id="health" width="300" height="150"></canvas></td>
    </tr>

  </tbody>
</table>
  
</article>
</div>
<div class="container">
    <div class="row pb-50 justify-content-center">
        <form class="w-75" method="POST" action="{% url 'community:compare' %}">{% csrf_token %}
        <h4 class="pb-20">Send a copy of this report to email: </h4>
        <div class="input-group">
            <input type="email" name="email" required placeholder="Enter a valid email address" id="email" class="form-control"/>
            {% for community in result_list %}
                <input type="hidden" name="name" value="{{ community.0.name }}">
                <input type="hidden" name="postcode" value={{ community.3 }}>
                <input type="hidden" name="mylng" value={{ community.2.0 }}>
                <input type="hidden" name="homeland" value={{ community.2.1 }}>
                <input type="hidden" name="overseas" value={{ community.0.born_overseas }}>
                <input type="hidden" name="noneng" value={{ community.0.except_eng }}>
                <input type="hidden" name="first_name" value="{{ community.0.culture_group1_name }}">
                <input type="hidden" name="second_name" value="{{ community.0.culture_group2_name }}">
                <input type="hidden" name="third_name" value="{{ community.0.culture_group3_name }}">
                <input type="hidden" name="forth_name" value="{{ community.0.culture_group4_name }}">
                <input type="hidden" name="first_per" value={{ community.0.culture_group1_per }}>
                <input type="hidden" name="second_per" value={{ community.0.culture_group2_per }}>
                <input type="hidden" name="third_per" value={{ community.0.culture_group3_per }}>
                <input type="hidden" name="forth_per" value={{ community.0.culture_group4_per }}>
                <input type="hidden" name="kindergarten" value={{ community.0.kindergarten }}>
                <input type="hidden" name="primary" value={{ community.0.primary_school }}>
                <input type="hidden" name="secondary" value={{ community.0.secondary_school }}>
                <input type="hidden" name="p12" value={{ community.0.p12_school }}>
                <input type="hidden" name="mental" value={{ community.0.mental_health }}>
                <input type="hidden" name="dental" value={{ community.0.dental }}>
                <input type="hidden" name="gp" value={{ community.0.general_practice }}>
                <input type="hidden" name="pharmacy" value={{ community.0.pharmacy }}>
                <input type="hidden" name="allied" value={{ community.0.allied_health }}>
                <input type="hidden" name="complementary" value={{ community.0.complementary_health }}>
                <input type="hidden" name="disability" value={{ community.0.disability }}>
                <input type="hidden" name="residential" value={{ community.0.residential_aged_care }}>
            {% endfor %}
            <div class="input-group-append">
                <button class="btn" type="submit" style="background-color:LightGrey;">Send</button>
                <button id="preview" class="btn" type="submit" style="background-color:LightGrey;">Preview</button>
            </div>
        </div>
    </form>
    </div>

</div>


<div class="container" >
    <div class="row justify-content-center">
        <table class="email emailtable">
          <thead>
            <tr>
              <th class="email"></th>
            {% for community in result_list %}
                <th class="email">
                    {{ community.0.name }}
                </th>
            {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
            {% for community in result_list %}
                {% if forloop.counter == 1 %}
                <td class="email">Postcode</td>
                {% endif %}
                <td class="email">{{ community.3 }}</td>
            {% endfor %}
            </tr>
            <tr>
            {% for community in result_list %}
                {% if forloop.counter == 1 %}
                <td class="email">People Speaking <br>{{ community.2.0 }}</td>
                {% endif %}
                <td class="email">{{ community.2.1 }}%</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">People Born Overseas</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.born_overseas }}%</td>
            {% endfor %}
            </tr>
             <tr>
              <td class="email">People Speak Language<br> Other Than English</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.except_eng }}%</td>
            {% endfor %}
            </tr>
        <!--Top 4 Cutural Group-->
            <tr class="email">
              <td colspan="100%" class="email"><strong>Top 4 Cultural Groups</strong></td>
            </tr>
            <tr>
              <td class="email">1st Cultural Group</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.culture_group1_name }}({{ community.0.culture_group1_per }}%)</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">2nd Cultural Group</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.culture_group2_name }}({{ community.0.culture_group2_per }}%)</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">3rd Cultural Group</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.culture_group3_name }}({{ community.0.culture_group3_per }}%)</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">4th Cultural Group</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.culture_group4_name }}({{ community.0.culture_group4_per }}%)</td>
            {% endfor %}
            </tr>
        <!--Education Services-->
            <tr>
              <td colspan="100%" class="email"><strong>Education Services (counts)</strong></td>
            </tr>
            <tr>
              <td class="email">Kindergarten</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.kindergarten }}</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">Primary School</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.primary_school }}</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">Secondary School</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.secondary_school }}</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">P-12 School</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.p12_school }}</td>
            {% endfor %}
            </tr>
        <!--Health Services-->
            <tr>
              <td colspan="100%" class="email"><strong>Health Services (counts)</strong></td>
            </tr>
            <tr>
              <td class="email">Mental Health</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.mental_health }}</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">Dental Site</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.dental }}</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">General Practice</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.general_practice }}</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">Pharmacy</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.pharmacy }}</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">Allied Health Services</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.allied_health }}</td>
            {% endfor %}
            </tr>
            <tr>
              <td class="email">Complementary <br>Health Services</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.complementary_health }}</td>
            {% endfor %}
            </tr>
             <tr>
              <td class="email">Disability Services</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.disability }}</td>
            {% endfor %}
            </tr>
             <tr>
              <td class="email">Residential Aged<br> Care Services</td>
            {% for community in result_list %}
                <td class="email">{{ community.0.residential_aged_care }}</td>
            {% endfor %}
            </tr>
          </tbody>
        </table>
    </div>
</div>

{% else %}
<!--Error-Message-->
<section class="skill-area section-gap fullscreen align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center pt-50 pb-50">
                <i class="fas fa-frown fa-10x"></i>
            </div>
            <div class="row d-flex justify-content-center">
                <h1 style="color: white">Sorry, something wrong happened, please try other suburbs.</h1>
            </div>
        </div>
</section>
{% endif %}


<script>
var backgroundColor = [
    'rgba(255, 99, 132, 0.2)',
    'rgba(54, 162, 235, 0.2)',
    'rgba(255, 206, 86, 0.2)',
    'rgba(75, 192, 192, 0.2)',
];
var borderColor = [
    'rgba(255,99,132,1)',
    'rgba(54, 162, 235, 1)',
    'rgba(255, 206, 86, 1)',
    'rgba(75, 192, 192, 1)',
];
var options = {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Percentage',
                    fontSize: 20
                },
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontSize: 14,
                }
            }]
        }
    };

var datasets_basics = [];
var mylng;
var i = 0;
{% for community in result_list %}
    var dataset_basics = {
        label: '{{ community.0.name }}' + ' {{ community.3 }}',
        data: [
            {{ community.2.1 }}, {{ community.0.born_overseas }}, {{ community.0.except_eng }},
            {{ community.0.culture_group1_per }}, {{ community.0.culture_group2_per }},
            {{ community.0.culture_group3_per }}, {{ community.0.culture_group4_per }},
        ],
        backgroundColor: backgroundColor[i],
        borderColor: borderColor[i],
        borderWidth: 1
    };
    datasets_basics.push(dataset_basics);
    mylng = '{{ community.2.0 }}';
    i = i + 1;
{% endfor %}
var ctx_basics = document.getElementById("basics").getContext('2d');
var basics = new Chart(ctx_basics, {
    type: 'bar',
    data: {
        labels: [
            mylng + ' speaker', 'Born overseas', 'Non-English speaker', '1st cultural group',
            '2nd cultural group', '3rd cultural group', '4th cultural group',
        ],
        datasets: datasets_basics,
    },
    options: options
});


options.scales.yAxes[0].scaleLabel.labelString = 'Counts';
var datasets_school = [];
var i = 0;
{% for community in result_list %}
    var dataset_school = {
        label: '{{ community.0.name }}' + ' {{ community.3 }}',
        data: [
            {{ community.0.kindergarten }}, {{ community.0.primary_school }}, {{ community.0.secondary_school }},
            {{ community.0.p12_school }},
        ],
        backgroundColor: backgroundColor[i],
        borderColor: borderColor[i],
        borderWidth: 1
    };
    datasets_school.push(dataset_school);
    i = i + 1;
{% endfor %}
var ctx_school = document.getElementById("school").getContext('2d');
var school = new Chart(ctx_school, {
    type: 'bar',
    data: {
        labels: [
            'Kindergarten', 'Primary School', 'Secondary School', 'P-12 School',
        ],
        datasets: datasets_school,
    },
    options: options
});



var datasets_health = [];
var i = 0;
{% for community in result_list %}
    var dataset_health = {
        label: '{{ community.0.name }}' + ' {{ community.3 }}',
        data: [
            {{ community.0.mental_health }}, {{ community.0.dental }}, {{ community.0.general_practice }},
            {{ community.0.pharmacy }}, {{ community.0.allied_health }}, {{ community.0.complementary_health }},
            {{ community.0.disability }}, {{ community.0.residential_aged_care }},
        ],
        backgroundColor: backgroundColor[i],
        borderColor: borderColor[i],
        borderWidth: 1
    };
    datasets_health.push(dataset_health);
    i = i + 1;
{% endfor %}
var ctx_health = document.getElementById("health").getContext('2d');
var health = new Chart(ctx_health, {
    type: 'bar',
    data: {
        labels: [
            'Mental health', 'Dental site', 'General practice', 'Pharmacy', 'Allied health',
            'Complementary', 'Disability', 'Residential',
        ],
        datasets: datasets_health,
    },
    options: options
});
</script>


{% endblock %}
{% block bottom %}{% include 'community/footer.html' %}{% endblock %}
