{% extends 'community/base.html' %}

{% block title %}Community Details{% endblock %}

{% block body %}

{% if result_list %}

    {% for community in result_list %}


{% load staticfiles %}
<script src="https://d3js.org/d3.v3.min.js"></script>
<!--Suburb-Title-->
<section class="skill-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 skill-left">
                <h1 class="text-white text-title mb-30">{{ community.0.name }}</h1>
				<h2 class="text-white mb-30">{{ community.2 }}</h2>
<!--				<a class="primary-btn2 header-button btn-lg" href="{% url 'community:map' %}?name={{ community.0.name }}&postcode={{ community.2 }}" style="color:#FFF">View map</a >-->
            </div>
            <div class="col-lg-6 skill-right">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-6 single-skill">
                        <div class="skill1 d-block mx-auto" data-born-overseas="{{ community.0.born_overseas }}"></div>
                        <h4>Born Overseas</h4>
                    </div>
                    <div class="col-lg-6 col-md-6 single-skill">
                        <div class="skill2 d-block mx-auto" data-except-eng="{{ community.0.except_eng }}"></div>
                        <h4>Speak Language Other Than English</h4>
                    </div>															
                </div>
            </div>
        </div>
    </div>	
</section>
<!--Suburb-Statistics-->
<section class="service-area pt-100 pb-150 suburb-info" id="service">
	<div class="container">
<!--Top4-Cultural-Group-->
    <div class="row d-flex justify-content-center">
				<h1 class="page-header pb-50">Top 4 Cutural Groups of {{ community.0.name }}</h1>
        </div>
        
        <div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
                        <div class="group-name">
						  <h4>{{ community.0.culture_group1_name }}</h4>
                        </div>
						<div class="easypiechart easypiechart-blue" data-percent="{{ community.0.culture_group1_per }}" ><span class="percent">{{ community.0.culture_group1_per }}%</span></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
				        <div class="group-name">
						  <h4>{{ community.0.culture_group2_name }}</h4>
                        </div>
						<div class="easypiechart easypiechart-orange" data-percent="{{ community.0.culture_group2_per }}" ><span class="percent">{{ community.0.culture_group2_per }}%</span></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
				        <div class="group-name">
						  <h4>{{ community.0.culture_group3_name }}</h4>
                        </div>
						<div class="easypiechart easypiechart-teal" data-percent="{{ community.0.culture_group3_per }}" ><span class="percent">{{ community.0.culture_group3_per }}%</span></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
				        <div class="group-name">
						  <h4>{{ community.0.culture_group4_name }}</h4>
                        </div>
						<div class="easypiechart easypiechart-red" data-percent="{{ community.0.culture_group4_per }}" ><span class="percent">{{ community.0.culture_group4_per }}%</span></div>
					</div>
				</div>
			</div>
		</div>
        
<!--Suburb-info-->
        
        <div class="row d-flex pt-50 pb-50 justify-content-center">
				<h1>Information of {{ community.0.name }}</h1>
		</div>
        <div class="row d-flex pb-50 justify-content-center">
                <a class="btn primary-btn2 header-btn1 btn-lg" href="{% url 'community:map' %}?name={{ community.0.name }}&postcode={{ community.2 }}" >Check on Map</a>
		</div>
<!--row 1-->
        <div class="panel panel-container">
            <div class="row pt-20 pb-20 justify-content-center">
                <h3>Education Services</h3>
            </div>
<!--row 2-->
            <div class="row">
				<div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-child color-blue"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.kindergarten }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Kindergarten</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-child color-blue"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Includes sites providing long day care, occasional care, family day care coordination and kindergarten/preschool.</div></div>
                            
                        </div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-chalkboard-teacher color-teal"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.primary_school }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Primary School</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-chalkboard-teacher color-teal"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Government, Catholic and Independent schools which provide education for children in years preparatory to six.</div></div>
                        </div>                       

					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-book-open color-orange"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.secondary_school }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Secondary School</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-book-open color-orange"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Government, Catholic and Independent schools which provide education for children in years 7 to 12.</div></div>
                        </div> 
						
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-book color-red"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.p12_school }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">P-12 School</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-book color-red"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Government, Catholic and Independent schools which are governed by a single body and provide education for children from preparatory to year 12.</div></div>
                        </div> 
						
					</div>
				</div>
			</div>
<!--row 3-->
            <div class="row pt-20 pb-20 justify-content-center">
                <h3>Health Services</h3>
            </div>
<!--row 4-->
            <div class="row">
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-wheelchair color-blue"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.disability }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Disability</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-wheelchair color-blue"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Services funded by the Department of Health providing community health care services activities.</div></div>
                        </div>

					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-sad-tear color-blue"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.mental_health }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Mental Health</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-sad-tear color-blue"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Clinical care-hospital, clinical care-other, and Psychiatric Disability and Rehabilitation Support Services (PDRSS).</div></div>
                        </div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-tooth color-orange"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.dental }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Dental Site</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-tooth color-orange"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Sites within a community providing dental services, and includes both public and private sites.</div></div>
                        </div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-user-md color-red"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.general_practice }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">General Practice</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-user-md color-red"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Sites within a community providing General Practitioner medical services.</div></div>
                        </div> 

					</div>
				</div>
			</div>
<!--row 5-->
            <div class="row">
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-pills color-red"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.pharmacy }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Pharmacy</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-pills color-red"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Sites within a community providing pharmacy services.</div></div>
                        </div>                        

					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-briefcase-medical color-orange"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.allied_health }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Allied Health</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-briefcase-medical color-orange"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Audiology, chiropractic, dietetics, nutrition, occupational therapy, optometry, osteopathy, physiotherapy, podiatry, psychology and speech pathology.</div></div>
                        </div>                        
						
					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3 no-padding">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-hand-holding color-teal"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.residential_aged_care }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Residential Aged Care</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-hand-holding color-teal"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Aged care facilities licensed by the Commonwealth Department of Health &amp; Ageing, including Public Sector Residential Aged Care Services (PSRACS) and Supported Residential Services (SRS).</div></div>
                        </div>                        

					</div>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="panel panel-teal panel-widget border-right">
                        <div class="front">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-hand-holding-heart color-blue"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="large">{{ community.0.complementary_health }}</div></div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-muted">Complementary Health</div></div>
                        </div>
                        <div class="back">
                            <div class="row pt-10 pb-10 justify-content-center"><em class="fa fa-xl fa-hand-holding-heart color-blue"></em>
                            </div>
                            <div class="row pt-10 pb-10 justify-content-center"><div class="text-fliped">Sites providing complementary health services, including: naturopathy, acupuncture, homeopathy, Chinese medicine, myotherapy and massage therapy.</div></div>
                        </div>                        
					</div>
				</div>
			</div>
        </div>
<!--Top10-Language-->
        <div class="row pt-50 pb-50 justify-content-center">
            <h1>Top 10 Languages spoken in {{ community.0.name }}</h1>
        </div>
        
        <div class="card">
            <div class="container pt-50 pb-50">

                {% for language,percentage in community.1 %}
                <div class="row d-flex align-items-center progress-row">
                    <div class="col-sm-3" style="text-align: right">
                        <div class="text-muted">{{ language }}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="progress" style="height: 40px;">
                            <div {% if forloop.first %}id="highest"{% endif %} class="progress-bar progress-item progress-bar-striped align-self-center" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" data-percentage="{{ percentage }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="text-align: left">
                        <div class="text-muted">{{ percentage }}%</div>
                    </div>
                </div>
                {% endfor %}
            </div> 
        </div>
        </div>
</section>

    {% endfor %}

{% else %}
<!--Error-Message-->
<section class="skill-area section-gap fullscreen align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center pt-50 pb-50">
                <i class="fas fa-frown fa-10x"></i>
            </div>
            <div class="row d-flex justify-content-center">
                <h1 style="color: white">Sorry, we have no information for this suburb.</h1>
            </div>
        </div>	
</section>
{% endif %}



{% endblock %}
{% block bottom %}{% include 'community/footer.html' %}{% endblock %}
