{% extends 'community/base.html' %}

{% block body %}
<!-- start banner Area -->
            {% load staticfiles %}
<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="{% static 'community/images/header-bg-house.jpg' %}">
    <div class="overlay-bg overlay">
    </div>
    <div class="container">
        <div class="row fullscreen  d-flex align-items-center justify-content-end">
            <div class="banner-content col-lg-12 col-md-12">
                <h1 style="text-align: center">
                    <span>Health services</span> in Suburbs <br>to help <span>Victorian Migrants</span>
                </h1>
                <div class="row justify-content-center">
                <a href="{% url 'community:findsuburb' %}" class="primary-btn2 header-btn btn-lg text-uppercase">Explore Now!</a>
                </div>
            </div>

                <!--<a href="#service">-->
                    <!--<i id="scroll-down" class="fas fas fa-angle-double-down fa-5x" style="color: #FFF;opacity: 0.5;position:absolute;margin-left:-20px;bottom: 10%;left: 50%;"></i>-->
                <!--</a>-->
        </div>
    </div>

</section>
<!-- End banner Area -->


{% endblock %}

