{% extends 'community/base.html' %}

{% block body %}
<!-- start banner Area -->
            {% load staticfiles %}
<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="{% static 'community/images/header-bg-house.jpg' %}">
    <div class="overlay-bg overlay">
    </div>
    <div class="container">
        <div class="row fullscreen  d-flex align-items-center justify-content-end">
            <div class="banner-content col-lg-12 col-md-12">
                <h1>
                    Find <span>Health Information</span> that <span>Help Migrants</span> Live in Victoria
                </h1>
                <div class="row justify-content-center">
                <a href="{% url 'community:findsuburb' %}" class="primary-btn2 header-btn btn-lg text-uppercase">Explore Now!</a>
                </div>
            </div>
        </div>
        
    </div>

</section>
<!-- End banner Area -->
<!-- start service Area-->
<section class="service-area pt-100 pb-150" id="service">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Welcome to Victoria Migrant Health</h1>
                    <p>We aim to provide consolidated information for recently migrated people in Victoria<br> to achieve their best health outcomes.</p>
                </div>
            </div>
        </div>	
        <div class="row">
            <div class="sigle-service col-lg-3 col-md-6">
                <span class="lnr lnr-magnifier"></span>
                <h4>Know where your fellows live</h4>
                <p>
                    Help you find suburbs that have most people speak your mother tongue, with less effort to meet people from same cultural background and communicate more effectively.
                </p>
            </div>
            <div class="sigle-service col-lg-3 col-md-6">
                <span class="lnr lnr-flag"></span>
                <h4>Satisfy your health needs</h4>
                <p>
                    Consolidate detailed suburb information, including available health and education services that you can take advantage of to find better place and suit more needs.
                </p>
            </div>
            <div class="sigle-service col-lg-3 col-md-6">
                <span class="lnr lnr-heart"></span>
                <h4>Immunization Information</h4>
                <p>
                    Provide necessary immunization information, which includes vaccines offered to children, adolescents and adults against increasing risk of vaccine-preventable disease.
                </p>
            </div>
            <div class="sigle-service col-lg-3 col-md-6">
                <span class="lnr lnr-chart-bars"></span>
                <h4>Visualisation</h4>
                <p>
                    Get to know visualised information of suburbs that have people speaking your language and their available services, having a more straightforward impression.
                </p>
            </div>
        </div>
    </div>	
</section>
<!-- end service Area-->

{% endblock %}
{% block bottom %}{% include 'community/footer.html' %}{% endblock %}
